<div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-center text-center mb-24">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold">Loka Academy Team</h2>
        <p class="text-lg leading-relaxed m-4 text-gray-600">
          Loka Academy memiliki team pengajar yang telah berpengalaman dalam industri IT sebagai 
          Technical Lead, Product Manager, Software Engineer, Software Developer etc
        </p>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="loka team" src="public/assets/images/profesional.webp" class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"/>
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Asiswadi</h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              CEO - Founder
            </p>
            <div class="mt-6">
              <!-- -->
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="ikhwan" src="public/assets/images/profesional.webp" class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"/>
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Ikhwan Maula</h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              Founder
            </p>
            <div class="mt-6">
              <!-- -->
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="Nal" src="public/assets/images/profesional.webp"
            class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"/>
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Nal Farid</h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              Tech Lead - Offeo Singapore
            </p>
            <div class="mt-6">
              <!-- -->
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
        <div class="px-6">
          <img alt="Revin Delano" src="public/assets/images/profesional.webp" class="shadow-lg rounded-full max-w-full mx-auto"
            style="max-width: 120px;"/>
          <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">Revin Delano</h5>
            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
              Product Designer - Klik Dokter
            </p>
            <div class="mt-6">
              <!-- -->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>